---
layout: base
---
.row
  .span12
  %p I am a lawyer with expertise and deep interests in the intersection of information technology, law and policy. My work focuses on legal issues relating to enterprise and community software development, software distribution, and cloud computing, spanning such domains as intellectual property, software licensing, open source and open content, data privacy and data protection, and information security.
  %p  I am currently in-house counsel at <a href="http://www.redhat.com">Red Hat</a> and a Board Director of the <a href="http://opensource.org">Open Source Initiative</a>. This is a personal site and does not reflect the views of any past or present employer, client or affiliate.

