---
layout: base
---
.row
  .span12
  %h2 Presentations, Speaking Engagements and Organized Conference Tracks
   
  %p "The Legal Side of the POSS World" (OSCON, Portland, July 24, 2013) (slides).

  %p "Panel &mdash; GNU Affero General Public License, Version 3" (panelist) (Linux Foundation Collaboration Summit, San Francisco, April 17, 2013).

  %p "GPLv3, Tivoization and Automotive Linux" (panelist), Linux Foundation Collaboration Summit, San Francisco, April 16, 2013).

  %p Co-organized two-day legal track for Linux Foundation Collaboration Summit (San Francisco, April 16&ndash;17, 2013).

  %p "copyleft-next: An Introduction" (FOSDEM Legal Issues DevRoom, Brussels, February 3, 2013) (slides, LWN.net coverage).

  %p "Panel Discussion: GNU Affero General Public License, version 3" (moderator) (FOSDEM Legal Issues DevRoom, Brussels, February 2, 2013).

  %p Co-organized two-day FOSDEM Legal Issues DevRoom (Brussels, February 2&ndash;3, 2013).

  %p "The Legal Significance of OpenStack" (OpenStack Summit, San Diego, October 17, 2012) (slides, video [with out-of-sync audio]).

  %p "Contribution Policies for FOSS Projects" (EOLE, Paris, October 12, 2012) (slides).

  %p "Recent Trends in Open Source Licensing" (Open World Forum, Paris, October 11, 2012) (slides).

  %p "The Tragedy of the Commons Gatekeepers" (LinuxCon North America, San Diego, August 30, 2012) (slides, podcast recording, LWN.net coverage).

  %p The Decline of the GPL, and What to Do About It" (Linux Foundation Collaboration Summit, San Francisco, April 4, 2012).


