---
layout: base
---
.row
  .span12
  %h2 Speaking Engagements, Organized Conference Tracks and Podcasts
   
  %p "The Legal Side of the POSS World" (OSCON, Portland, July 24, 2013) (slides).

  %p "Panel &mdash; GNU Affero General Public License, Version 3" (panelist) (Linux Foundation Collaboration Summit, San Francisco, April 17, 2013).

  %p "GPLv3, Tivoization and Automotive Linux" (panelist), Linux Foundation Collaboration Summit, San Francisco, April 16, 2013).

  %p Co-organized two-day legal track for Linux Foundation Collaboration Summit (San Francisco, April 16&ndash;17, 2013).

  %p "copyleft-next: An Introduction" (FOSDEM Legal Issues DevRoom, Brussels, February 3, 2013) (slides, LWN.net coverage).

  %p "Panel Discussion: GNU Affero General Public License, version 3" (moderator) (FOSDEM Legal Issues DevRoom, Brussels, February 2, 2013) (audio).

  %p Co-organized two-day FOSDEM Legal Issues DevRoom (Brussels, February 2&ndash;3, 2013).

  %p "The Legal Significance of OpenStack" (OpenStack Summit, San Diego, October 17, 2012) (slides, video [with out-of-sync audio]).

  %p "Contribution Policies for FOSS Projects" (EOLE, Paris, October 12, 2012) (slides).

  %p "Recent Trends in Open Source Licensing" (Open World Forum, Paris, October 11, 2012) (slides).

  %p "The Tragedy of the Commons Gatekeepers" (LinuxCon North America, San Diego, August 30, 2012) (slides, podcast recording, LWN.net coverage).

  %p "The Decline of the GPL, and What to Do About It" (Linux Foundation Collaboration Summit, San Francisco, April 4, 2012) (slides, audio).

  %p "The Evolution of Open Source Business Models" (Kitware, Clifton Park, NY, March 22, 2012) (slides).

  %p "Open Source as a Legal System" (Rensselaer Polytechnic Institute, Troy, NY, March 21, 2012) (slides).

  %p "The Decline of the GPL, and What to Do About It" (FOSDEM Legal Issues DevRoom, Brussels, February 4, 2012) (slides).

  %p Co-organized one-day FOSDEM Legal Issues DevRoom (Brussels, February 4, 2012).

  %p "Effective Open Source Development Business Practices" (Open Source and Free Software 2011: Benefits, Risks and Challenges, Practising Law Institute, San Francisco, December 7, 2011) (slides).

  %p "A Brief Legal History of the Linux Project" (LinuxCon North America, Vancouver, August 19, 2011) (slides).

  %p "Contributor Agreements Considered Harmful" (OSCON, Portland, July 28, 2011) (slides, audio).

  %p "The Evolution of Open Source Software as a Corporate Asset" (panelist) (ABA Business Law Section Spring Meeting, Boston, April 16, 2011) (slides).

  %p "Open Source Projects and Corporate Entanglement" (Linux Foundation Collaboration Summit, San Francisco, April 7, 2011) (slides, audio).

  %p "IP Law for Hackers" (FUDCon, Tempe, AZ, January 30, 2011) (slides).

  %p "Red Hat Legal Talks!" (FUDCon, Tempe, AZ, January 29, 2011) (slides).

  %p "License Enforcement and Avoiding Litigation" (Open Source and Free Software 2010: Benefits, Risks and Challenges, Practising Law Institute, San Francisco, December 8, 2010) (slides).

  %p "Contribution Policies for Open Source Projects" (LinuxCon, Boston, August 12, 2010) (slides).

  %p "Open Source License Compliance" (Open Your World webinar, May 10, 2010) (slides, audio).

  %p "Improving the Open Source Legal System" (Southern California Linux Expo, Los Angeles, February 21, 2010) (slides, LWN.net coverage).

  %p "Open Source License Enforcement and Compliance" (Open Source and Free Software 2009: Benefits, Risks and Challenges in Today's Economic Environment, Practising Law Institute, San Francisco, December 9, 2009) (slides).

  %p "Improving Legal Certainty in FOSS: Best Practices for Upstream Projects" (OSCON, Portland, July 23, 2009) (slides).

  %p "Web Services Panel" (panelist) (Open Source Business Conference, San Francisco, March 25, 2009).

  %p "Open Source Best Practices" (Open Source Software 2008: Benefits, Risks and Challenges for Software Users, Developers and Investors, Practising Law Institute, San Francisco, December 10, 2008) (slides).

  %p "GPLv3 in Practice" (Open Source Software, Law Seminars International, Boston, October 29, 2008) (slides).

  %p "Current Issues in Open Source Licensing" (Red Hat Summit, Boston, June 19, 2008).

  %p "GPL 3 Interpretation" (panelist) (Open Source Software, Law Seminars International, San Francisco, June 9, 2008).

  %p "GPLv3" (Open Source Software 2007: Risks, Rewards & Practical Realities in the Corporate Environment, Practising Law Institute, New York, November 14, 2007, and San Francisco, December 5, 2007).

  %p "Patent Issues for Open Source Developers" (SFLC Legal Summit, New York, October 12, 2007).

