---
layout: base
---
.row
  .span12
  %h2 Presentations
   
  %p "The Legal Side of the POSS World" (OSCON, July 24, 2013) (slides).

  %p "Panel &mdash; GNU Affero General Public License, Version 3" (panelist) (Linux Foundation Collaboration Summit, April 17, 2013).

  %p "GPLv3, Tivoization and Automotive Linux" (panelist), Linux Foundation Collaboration Summit, April 16, 2013).
